{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!-- articleList는 여러 데이터의 묶음이라서 밑 <tr>...</tr> 이 반복된다. -->
    <tr>
        <th>{{id}}</th>
        <td><a href="/articles/{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">New Article</a>
{{>layouts/footer}}